<launch>
	<node name="teamict" pkg="teamict" type="teamict_node.py" output="screen" args="_image_transport:=compressed" />
	<node name="teamict_sign" pkg="teamict" type="traffic_sign_node.py" output="screen" args="_image_transport:=compressed" />

	<!-- This node publish a speed = 0 when not hearing from speed topic for a duration.
		This trick prevent simulator from not sending image to our control node
	 -->
	<node name="teamict_keep_running" pkg="teamict" type="keep_running_node.py" output="screen" args="_image_transport:=compressed" />
</launch>
